block data

doctype
html.no-js

  head

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

    if page_title
      title= page_title
      meta(property='og:title' content= page_title)

    if page_description
      meta(name='description' content= page_description)
      meta(property='og:description' content= page_description)

    if page_robots
      meta(name='robots' content= page_robots)

    if page_url
      link(rel='canonical' href= page_url)
      meta(property='og:url' content= page_url)

    meta(property='og:type' content='website')
    meta(property='og:locale' content='en_US')
    meta(property='og:site_name' content='pcaleja')

    style!= fs.readFileSync(`./public/styles/${styles['critical-styles.min.css']}`)
    script!= fs.readFileSync(`./public/scripts/${scripts['critical-scripts.bundle.js']}`)

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40892343-1', 'auto');
      ga('send', 'pageview');

    script.
      WebFontConfig = {
        google: {
          families: ['Merriweather Sans:300,400,800', 'Oswald:300,400']
        }
      };

      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
        s.parentNode.insertBefore(wf, s);
      })(document);

    block page-styles

    body(class= body_class)

      block header

      .layout
        .layout__wrapper
          block content

          block footer

    include _load-styles

    script(src= '/scripts/' + scripts['main.bundle.js'], defer)
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js")
    script.
      hljs.initHighlightingOnLoad()
