extends _base
include _components/components

block header
  +header

block footer
  +footer

block data
  - body_class = 'page'

block content
  section.about
    h1#about: span= `${profile.first_name} ${profile.last_name}`
    .about__content
      h2= profile.position
      p!= profile.about

  section.skills
    h3#skills: span= skills.header

    ul.skills__list
      each skill in skills.list
        li.skills__list__item
          strong= `${skill.name} | ${skill.experience}`
          ul
            each detail in skill.details
              li.skills__list__item__detail
                p.skills__list__item__name= detail.name
                p.skills__list__item__description= detail.description


  section.experiences
    h3#experience: span= experiences.header
    ul.experiences__list
      each experience in experiences.list
        each role in experience.roles
          li.experiences__list__item
            p: strong
              span.experiences__list__content= `${experience.company.name}`
              span.experiences__list__break |
              span.experiences__list__content= `${role.position}`
              span.experiences__list__break |
              span.experiences__list__content= `${role.start_date} - ${role.end_date}`
            if role.position !== 'Junior Developer/Designer'
              p= experience.company.info
            ul
              each achievement in role.achievements
                li!= achievement

  section.articles
    h3#articles: span Articles

    ul
      each article in articles
        li
          a(href= article.href)= article.label
